.pagination {
  display: flex;
  justify-content: center;
}

.all-products {

  .categories {
    display: flex;
    justify-content: center;

    @media (max-width: 576px) {
      flex-direction: column;
    }

    .category {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem;

      article {
        padding: 2rem;
        border-radius: 50%;
        background-color: #232f3e;
        transition: all ease-in 0.3s;

        &:hover {
          background-color: #49849a !important;

          svg {
            color: #232f3e !important;
          }
        }

        svg {
          color: #fff !important;
        }
      }
    }
  }
}