#rbNavbar {
  background-color: #232f3e;

  .navbar-nav {
    display: flex !important;
    align-items: center !important;

    a {
      margin: 0 0.5rem;
    }
  }

  .nav-link {
    color: #a7b5bb;
    transition: color ease-in-out 0.5s;

    &:hover {
      color: #fff;
    }
  }    
}

#searchInput {
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#searchBtn {
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-menu {
  background-color: #232f3e !important;
  border: none !important;

  .dropdown-item {
    &.active, &:active, &:hover {
      background: none !important;
    }
  }
}

