$main: #232f3e;

.bg-main {
  background-color: $main;
}

button {
  cursor: pointer;
}

h5 {
  overflow-wrap: break-word;
}

.image {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

//section {
//  min-height: 600px;
//}

//svg {
//  color: #fff;
//}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.settingsSpinner {
  background-color: azure;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    color: #000;
  }
}

.submitBtn {
  &:disabled {
    cursor: not-allowed;
  }
}
.alert-success {
  text-align: center;
}
.addBg {
  background-color: azure;
}


// Start: Pagination links editing
.page-link {
  &:focus {
    box-shadow: none !important;
  }
}
//End: Pagination links editing


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

