.image-upload {
  padding: 0.5rem;
  background-color: #707d96;
  border: none;
  border-radius: 0.5rem;
  margin: 2rem 0;
  transition: all 0.5s ease-in;

  &:hover {
    background-color: #465f8d;
  }

  &:focus, &:active {
    outline: none;
  }
}